<!DOCTYPE html>
<html>
<body style="background:#0f172a;color:white;text-align:center">

<h1>IPTV PANEL PRO</h1>

<h3>Total: {{total}} | OK: {{ok}} | INVALID: {{bad}}</h3>

<textarea id="urls" style="width:90%;height:100px;"></textarea><br><br>

<button onclick="add()">➕ Añadir</button>

<button onclick="scan()" style="background:green;color:white;padding:10px;">
🔍 Verificar Listas
</button>

<a href="/export"><button>📥 Exportar</button></a>

<h2>Listas</h2>

{% for l in listas %}
<div style="margin:10px;padding:10px;background:#020617">

{{l[1]}}<br>

Estado: 
{% if l[2] == "OK" %}
<span style="color:lime;">OK</span>
{% elif l[2] == "INVALID" %}
<span style="color:red;">INVALID</span>
{% elif l[2] == "STREAM_FAIL" %}
<span style="color:orange;">STREAM FAIL</span>
{% else %}
<span style="color:gray;">{{l[2]}}</span>
{% endif %}

<br>
Exp: {{l[3]}}<br>
Canales: {{l[4]}}<br>
{{l[5]}}

</div>
{% endfor %}

<script>
function add(){
fetch("/add",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({urls:document.getElementById("urls").value})
}).then(()=>location.reload());
}

function scan(){
fetch("/scan")
.then(()=>location.reload());
}
</script>

</body>
</html>
